* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

// default-colors
$primary: #160B54!default;
$secondary: #014D3E!default;
$tertiary: #794D01!default;

$text-white: #f8f8f8;