@import "./global.scss";

.question {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12 px rgba(0,0,0,0.04);
    padding: 24px;
    border: 0.5px solid rgba(0.4,30.2,24.3,0.2);

    & + .question {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    &.highlighted { //destacar pergunta
        background: #F4F0FF;
        border: 0.5px solid $secondary;

        // button {
        //     cursor: not-allowed;
        //     opacity: 0.6;
        //     // path {
        //     //     stroke: #835afd;
        //     // }
        // }

    }

    &.answered { //pergunta respondida
        background: rgba(0.4,30.2,24.3,0.05);
        border: none;

        p {
            color: #737380;
        }

        img {
            opacity: 0.5;
        }
    }

    p {
        color: #29292e;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span {
                margin-left: 8px;
                color: #737380;
                font-size: 14px;
            }
        }

        .child-info {
            display: flex;
            align-items: center;

            button {
                margin: 0px 16px 0px 0px;
            }
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            outline: 0;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: #737380;

                span {
                 margin-right: 8px;
                }

                &.liked {
                    color: $secondary;

                    svg path {
                        stroke: $secondary;
                    }
                }
            }

            &:hover {
                filter: brightness(0.7);
            }


            &:disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }
}